

header{
  background-color: $bg-side-menu-color;
}

.profile{
  display : flex;
  align-items: center;
  flex-direction: column;
  padding : 40px;

    &-image{
      width : 150px;
      height : 150px;
      border : solid 4px white;
      border-radius : 50%;
      overflow: hidden;
      margin-bottom : 20px;
  }
    p{
      color: white;
      font-size: rem(18);
      margin : 0;
    }

    h1{
      color: white;
      margin: 0 0 5px;
    }

}

