


.nav-principale {
  ul {
    margin: 0;
    padding: 0;
    display:none;
  }

  a{
    color: white;
    display : flex;
    align-items: center;
    padding: 15px 40px;
      &:hover{
      background-color: $link-hover-color;
    }
    &.active, &.active:hover{
      background-color: $link-active-color;
    }
  }
  i{
    font-size: rem(24);
    margin-right: 15px;
  }

  .show-menu{
    display: block;
    text-align:center;
    color: white;
    background: $title-color;
    padding: 10px 0;
  }

  .toggle-menu{
    display:none;
    &:checked + ul{
      display:block;
    }
  }

}

