//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base

$text-color : #777;

$bg-color : #fff;
$bg-side-menu-color : #5f6d7e;

$title-color : #555;


$link-color : #fff;
$link-hover-color : darken($bg-side-menu-color, 5%);
$link-active-color : darken($bg-side-menu-color, 15%);